/* Navigation Bar */  
nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    color: rgb(170, 91, 210);
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
  }

  /* Grey Box */
  .top-content {
    background-color: rgb(41, 40, 40);
    text-align: left;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-family: "Barlow", sans-serif;
  }

h2 {
    font-size: 36px;
  }
  
  p {
    font-size: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .container video {
    max-width: 100%;
    max-height: 100%;
  }
  
 
  .table {
    display: flex;
    justify-content: center;
    font-family: "Barlow", sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  div table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 20%;
  }
  
  div th,
  div td {
    padding: 10px;
    text-align: left;
    border: 1px solid white;
  }
  
  div thead tr {
    background-color: white;
    font-weight: bolder;
  }
  
  div tbody tr:nth-child(odd) {
    background-color: rgb(56, 54, 54);
    color: white;
  }
  
  

     /* footer */
footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    font-family: 'Barlow', sans-serif;
}